* {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #00FF66;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00ff0e;
}

/*-----------------------------header--------------------------------*/
#fav-icon, #fav-icon > img {
    width: 50px;
    height: 50px;
    display: inline;
    position: relative;
    left: 5px;
}

header {
    z-index: 10;
    height: max-content;
    width: 100vw;
    position: fixed;
    top: 0;
}

header > nav {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

header > nav, menu, menu > li {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

li > a {
    text-decoration: none;
    color: #66AC82;

}

#header-menu > li {
    font-size: 20px;
}

/*-----------------------------------home----------------------------------*/
#home-section {
    height: 650px;
    /*display: flex;*/
    background: url("../wave.svg") no-repeat top left;
    overflow: hidden;
    position: relative;
}

/*image and circles*/
#home-section > aside > img {
    width: 310px;
    z-index: 1;
    position: relative;

}

#home-section > aside {
    position: absolute;
    right: 20px;
    bottom: 70px;
}

#home-section > aside > div:nth-child(2) {
    position: absolute;
    right: -20px;
    bottom: 220px;
    border-radius: 100%;
    width: 220px;
    height: 220px;
    background-color: #00FF66;
}

#home-section > aside > div:nth-child(3) {
    position: absolute;
    right: -20px;
    bottom: 4px;
    width: 150px;
    height: 75px;
    background-color: #00FF66;
    z-index: 1;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
}

#home-section > aside > div:nth-child(4) {
    position: absolute;
    right: 180px;
    bottom: -70px;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background-color: #00FF66;
    z-index: 1;
}

#home-section > aside > div:nth-child(5) {
    position: absolute;
    right: 260px;
    bottom: 320px;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background-color: #00FF66;
    box-shadow: 0px 2px 5px -2px black;
}

#home-section > article {
    position: absolute;
    width: 75%;
    top: 68px;
    left: 50px;
}

#home-section > article > h5 {
    position: relative;
    top: 20px;
    left: 10px;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 100;
}

#home-section > article > h1 {
    position: relative;
    top: 20px;
    left: 10px;
    font-size: 120px;
    margin-top: 0;
    margin-bottom: 5px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 100;
}

#home-section > article > h3 {
    position: relative;
    top: 20px;
    left: 10px;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 5px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 100;
}

#div-join-whatsapp-group {
    display: flex;
    top: 11px;
    height: 50px;
    margin-top: 57px;
    align-items: center;
}

#div-join-whatsapp-group > button:hover {
    box-shadow: 0px 1px 20px 0px #00ff0e;
}

#div-join-whatsapp-group > button {
    height: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 1px 4px -2px black;
    margin-left: 200px;
    color: white;
    font-size: 24px;
    background: #41FA00;
    padding: 10px;
}

/*--------------------------------about section---------------------------------------------*/
/*about topic*/
.topic-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.topic-div > h1 {
    margin: 0;
}

.topic-div > div {
    margin-top: 15px;
    margin-left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #00FF66;
}

/*about content*/
#about-content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: row;
}

#about-content-section > div:last-child {
    width: 55%;
}

#about-article-div {
    padding: 20px;
    font-size: 18px;
}

#about-content-section > div > div > img {
    width: 400px;
}

/*social links*/
#about-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}

.social-links > div:hover {
    background-color: #00FF66;
    color: white;
    box-shadow: 0px 0px 12px 0 #00ff0e;
}

.social-links > div {
    width: 50px;
    height: 50px;
    background-color: white;
    color: #00FF66;
    border-radius: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 9px -4px black;
}

/*----------------------------------------------courses--------------------------------------------*/
#courses-section {
    background-color: #C9FFD8;
    position: relative;
}

#topic-courses > h1 {
    margin-top: 20px;
}

#topic-courses > div {
    margin-top: 32px;
}

#course-menu {
    gap: 10px;
    padding: 0;
    margin-top: 50px;
    font-size: 18px;
}

#course-menu > div {
    height: 15px;
    width: 2px;
    background-color: black;
}

#course-menu > li > a {
    color: black;
}

#courses-section > section {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#courses-section > section > div:hover {
    transform: scale(1.1);
}

#courses-section > section > div {
    width: 220px;
    height: 300px;
    background-color: white;
    padding: 10px;
    margin: 15px;
    box-shadow: 0px 5px 9px -6px black;
    border-radius: 10px;
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#courses-section > section > div > img {
    position: absolute;
    height: 143px;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
}

#courses-section > section > div > div {
    position: absolute;
    bottom: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#courses-section > section > div > div > p {
    color: #636363;
}

#courses-section > section > div > div > h2, p {
    margin: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

#courses-section > section > div > div > a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

#courses-section > section > div > div > a > button {
    border: none;
    width: 100px;
    align-self: center;
    font-weight: bold;
    height: 30px;
    border-radius: 5px;
    background: #00ff0e;
    font-size: 16px;
    color: white;
    box-shadow: 0px 3px 5px -4px black;
}

.time {
    font-size: 12px;
}


/*button*/
.view-all-div {
    display: flex;
    justify-content: center;
}

#courses-section > div:last-child > button {
    margin-bottom: 40px;
}

.view-all-div > button {
    padding: 5px 10px 5px 10px;
    margin: 20px;
    border: none;
    box-shadow: 0px 2px 7px -4px black;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    background: white;
    font-size: 18px;
}


/*------------------------------------------student works------------------------------------------------*/
#student-works-section {
    background-color: white;
    position: relative;
}

#students-works-menu {
    gap: 10px;
    padding: 0;
    margin-top: 50px;
    font-size: 18px;
}

#students-works-menu > div {
    height: 15px;
    width: 2px;
    background-color: black;
}

#students-works-menu > li > a {
    color: black;
}

#student-works-section > section {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#student-works-section > section > div:hover {
    transform: scale(1.1);
}

#student-works-section > section > div {
    width: 220px;
    height: 300px;
    background-color: #C9FFD8;
    padding: 10px;
    margin: 15px;
    box-shadow: 0px 5px 9px -6px black;
    border-radius: 10px;
    transition: transform 0.5s;
}

/*------------------------------------------comments------------------------------------------------*/
#feedbacks-section {
    background-color: #C9FFD8;
    overflow: hidden;
}


#feedbacks-section > section {
    width: calc(100% * 3);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    animation-name: animation_feedbacks;
    animation-direction: alternate;
    animation-duration: 20s;
    animation-timing-function: cubic-bezier(0.53, 0.53, 0.53, 0.53);
    animation-iteration-count: infinite;

}

@keyframes animation_feedbacks {
    0% {
        transform: translateX(calc((-100% / 3) * 0));
    }
    50% {
        transform: translateX(calc((-100% / 3) * 1));

    }
    100% {
        transform: translateX(calc((-100% / 3) * 2));
    }
}


#feedbacks-section > section > div > div > div > div {
    width: 115px;
    height: 115px;
    background: #00ff66;
    left: 0;
    right: 0;
    border-radius: 100%;
}

#feedbacks-section > section > div > div > div {
    position: absolute;
    width: 140px;
    height: 140px;
    background: #fff;
    display: flex;
    left: 0;
    top: -60px;
    border-radius: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#feedbacks-section > section > div > div:hover {
    transform: scale(1.1);
}

#feedbacks-section > section > div > div {
    display: flex;
    position: relative;
    width: 220px;
    height: 300px;
    background-color: white;
    padding: 10px;
    margin: 90px 50px 50px 50px;
    box-shadow: -12px 13px 20px -19px black;
    border-radius: 80px 30px 100px 35px;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
}


#topic-feedback > h1 {
    margin-top: 20px;
}

#topic-feedback > div {
    margin-top: 32px;
}

.feedback-body > p {
    padding: 20px 20px 0px 20px;
}

/*------------------------------------------footer---------------------------------------------*/
#copyright {
    text-align: center;
    margin-bottom: 5px;
}

#social-links-footer {
    margin-top: 10px;
    margin-bottom: 10px;
}

#social-links-footer > div {
    margin-bottom: 0px;
}

#students-works-menu, #course-menu {
    font-family: 'Inria Serif', serif;
}

/*------------------------------------------contact-----------------------------------------------*/
#contact > button > svg {
    font-size: 40px
}

#contact > button:hover {
    box-shadow: 0px 3px 20px 0px #41FA00;
}

#contact > button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #00ff0e;
    z-index: 5;
    border-radius: 15px 15px 15px 15px;
    width: 65px;
    height: 65px;
    box-shadow: 0px 3px 8px -3px black;
    border: none;
}

@media all and (max-width: 1440px) {
    #courses-section > section {
        width: 90%;
    }

    #student-works-section > section {
        width: 90%;
    }

}

@media all and (min-width: 1200px) and (max-width: 1440px) {
    #courses-section > section {
        width: 72%;
    }

    #student-works-section > section {
        width: 72%;
    }
}


