/*-----------------------------header--------------------------------*/
#fav-icon, #fav-icon > img {
    width: 50px;
    height: 50px;
    display: inline;
    position: relative;
    left: 5px;
}

header {
    z-index: 10;
    height: max-content;
    width: 100vw;
    position: fixed;
    top: 0;
}

header > nav {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

header > nav, menu, menu > li {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

li > a {
    text-decoration: none;
    color: #66AC82;

}

/*-----------------------------------home----------------------------------*/
#home-section {
    height: 650px;
    /*display: flex;*/
    background: url("../wave.svg") no-repeat top left;
    overflow: hidden;
    position: relative;
}

/*image and circles*/
#home-section > aside > img {
    width: 310px;
    z-index: 1;
    position: relative;

}

#home-section > aside {
    position: absolute;
    right: 20px;
    bottom: 70px;
}

#home-section > aside > div:nth-child(2) {
    position: absolute;
    right: -20px;
    bottom: 220px;
    border-radius: 100%;
    width: 220px;
    height: 220px;
    background-color: #00FF66;
}

#home-section > aside > div:nth-child(3) {
    position: absolute;
    right: -20px;
    bottom: 4px;
    width: 150px;
    height: 75px;
    background-color: #00FF66;
    z-index: 1;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
}

#home-section > aside > div:nth-child(4) {
    position: absolute;
    right: 180px;
    bottom: -70px;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background-color: #00FF66;
    z-index: 1;
}

#home-section > aside > div:nth-child(5) {
    position: absolute;
    right: 260px;
    bottom: 320px;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background-color: #00FF66;
    box-shadow: 0px 2px 5px -2px black;
}

/**/
#home-section > article {
    position: absolute;
    width: 75%;
    top: 50px;
    left: 25px;
}

#home-section > article > h5 {
    position: relative;
    top: 20px;
    left: 10px;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Julius Sans One', sans-serif;
}

#home-section > article > h1 {
    position: relative;
    top: 20px;
    left: 10px;
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Julius Sans One', sans-serif;
}

#home-section > article > h3 {
    position: relative;
    top: 20px;
    left: 10px;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Julius Sans One', sans-serif;
}

#div-join-whatsapp-group {
    display: flex;
    top: 11px;
    height: 50px;
    margin-top: 57px;
    align-items: center;
}

#div-join-whatsapp-group > button {
    height: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 1px 4px -2px black;
    margin-left: 178px;
    color: white;
    font-size: 24px;
    background: #41FA00;
    padding: 10px;
}

/*--------------------------------about section---------------------------------------------*/
/*about topic*/
.topic-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.topic-div > h1 {
    margin: 0;
}

.topic-div > div {
    margin-top: 15px;
    margin-left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #00FF66;
}

/*about content*/
#about-content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: row;
}

#about-content-section > div > img {
    width: 400px;
}

/*social links*/
#about-content-section > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}

.social-links > div {
    width: 50px;
    height: 50px;
    background-color: #00FF66;
    border-radius: 100%;
    margin-bottom: 20px;
}

/*----------------------------------------------courses--------------------------------------------*/
#courses-section {
    background-color: #C9FFD8;
}

#course-menu {
    gap: 10px;
    padding: 0;
}

#course-menu > div {
    height: 15px;
    width: 2px;
    background-color: black;
}

#course-menu > li > a {
    color: black;
}

#courses-section > section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#courses-section > section > div {
    width: 220px;
    height: 300px;
    background-color: white;
    padding: 10px;
    margin: 50px;
    box-shadow: 0px 5px 9px -6px black;
    border-radius: 10px
}
/*button*/
#view-all-courses-div {
    display: flex;
    justify-content: center;
}

#view-all-courses-div > button {
    padding: 5px 10px 5px 10px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0px 2px 7px -4px black;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}