/*-----------------------------header--------------------------------*/
#fav-icon, #fav-icon > img {
    width: 50px;
    height: 50px;
    display: inline;
    position: relative;
    left: 5px;
}

header {
    z-index: 10;
    height: max-content;
    width: 100vw;
    position: fixed;
    top: 0;
}

header > nav {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

header > nav, menu, menu > li {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

li > a {
    text-decoration: none;
    color: #66AC82;

}

/*-----------------------------------home----------------------------------*/
#home-section {
    height: 800px;
    /*display: flex;*/
    background: url("../wave.svg") no-repeat top left;
    overflow: hidden;
    position: relative;
}

/*image and circles*/
#home-section > aside > img {
    width: 310px;
    z-index: 1;
    position: relative;

}

#home-section > aside {
    position: absolute;
    right: 20px;
    bottom: 220px;
}

#home-section > aside > div:nth-child(2) {
    position: absolute;
    right: -20px;
    bottom: 220px;
    border-radius: 100%;
    width: 220px;
    height: 220px;
    background-color: #00FF66;
}

#home-section > aside > div:nth-child(3) {
    position: absolute;
    right: -20px;
    bottom: 4px;
    width: 150px;
    height: 75px;
    background-color: #00FF66;
    z-index: 1;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
}

#home-section > aside > div:nth-child(4) {
    position: absolute;
    right: 180px;
    bottom: -80px;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background-color: #00FF66;
}

#home-section > aside > div:nth-child(5) {
    position: absolute;
    right: 260px;
    bottom: 320px;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background-color: #00FF66;
    box-shadow: 0px 2px 5px -2px black;
}

/**/
#home-section > article {
    position: absolute;
    width: 75%;
    top: 50px;
    left: 25px;
}

#home-section > article > h5 {
    position: relative;
    top: 20px;
    left: 10px;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Julius Sans One', sans-serif;
}

#home-section > article > h1 {
    position: relative;
    top: 20px;
    left: 10px;
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Julius Sans One', sans-serif;
}

#home-section > article > h3 {
    position: relative;
    top: 20px;
    left: 10px;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Julius Sans One', sans-serif;
}

#div-join-whatsapp-group{
    display: flex;
    top: 11px;
    height: 50px;
    margin-top: 57px;
    align-items: center;
}
#div-join-whatsapp-group>button{
    height: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 1px 4px -2px black;
    margin-left: 178px;
    color: white;
    font-size: 24px;
    background: #41FA00;
    padding: 10px;
}